body {
    font-family: Arial;
    background: #000000;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(130, 21, 21, 1) 50%, rgba(0, 0, 0, 1) 100%);
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: 500px;
    margin: auto;
}

.profile-list {
    padding: 10px;
}

.profile-card {
    background: white;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.profile-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profile-info {
    background: white;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}

.profile-row {
    display: flex;
    gap: 15px;
    align-items: center;
}

.profile-row img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-stats {
    display: flex;
    gap: 20px;
}

.profile-name {
    font-weight: bold;
    font-size: large;
}

.bio {
    margin-bottom: 15px;
}

.post {
    background: white;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.post-header {
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 12px;
    color: gray;
    font-weight: normal;
}

.post img {
    width: 100%;
}

.post-content {
    padding: 10px;
}

.likes {
    font-weight: bold;
}

.back-btn {
    margin: 10px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 999;
}

.comment {
    margin-top: 5px;
    font-size: 0.9em;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 80px;
}

/*Code by: Tee Diang from Codepen*/

.glitch, .glow {
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 4vw;
  animation: glitch 5s 5s infinite;
  display: block;
  width: fit-content;
  margin: 40px auto;
  text-align: center;
}

.glitch::before, .glow::before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -5px 0 rgb(71, 246, 31);
  overflow: hidden;
  top: 0;
  animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after, .glow::after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -5px 0 rgb(255, 0, 157);
  overflow: hidden;
  top: 0;
  animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(9px 0 67px 0);
  }
  6.6666666667% {
    clip-path: inset(14px 0 16px 0);
  }
  10% {
    clip-path: inset(20px 0 15px 0);
  }
  13.3333333333% {
    clip-path: inset(18px 0 43px 0);
  }
  16.6666666667% {
    clip-path: inset(59px 0 31px 0);
  }
  20% {
    clip-path: inset(60px 0 1px 0);
  }
  23.3333333333% {
    clip-path: inset(27px 0 38px 0);
  }
  26.6666666667% {
    clip-path: inset(99px 0 1px 0);
  }
  30% {
    clip-path: inset(41px 0 34px 0);
  }
  33.3333333333% {
    clip-path: inset(79px 0 20px 0);
  }
  36.6666666667% {
    clip-path: inset(34px 0 35px 0);
  }
  40% {
    clip-path: inset(46px 0 51px 0);
  }
  43.3333333333% {
    clip-path: inset(43px 0 38px 0);
  }
  46.6666666667% {
    clip-path: inset(69px 0 30px 0);
  }
  50% {
    clip-path: inset(59px 0 23px 0);
  }
  53.3333333333% {
    clip-path: inset(76px 0 10px 0);
  }
  56.6666666667% {
    clip-path: inset(10px 0 63px 0);
  }
  60% {
    clip-path: inset(76px 0 13px 0);
  }
  63.3333333333% {
    clip-path: inset(96px 0 2px 0);
  }
  66.6666666667% {
    clip-path: inset(72px 0 4px 0);
  }
  70% {
    clip-path: inset(81px 0 3px 0);
  }
  73.3333333333% {
    clip-path: inset(56px 0 14px 0);
  }
  76.6666666667% {
    clip-path: inset(23px 0 11px 0);
  }
  80% {
    clip-path: inset(96px 0 4px 0);
  }
  83.3333333333% {
    clip-path: inset(73px 0 26px 0);
  }
  86.6666666667% {
    clip-path: inset(13px 0 47px 0);
  }
  90% {
    clip-path: inset(99px 0 2px 0);
  }
  93.3333333333% {
    clip-path: inset(86px 0 4px 0);
  }
  96.6666666667% {
    clip-path: inset(49px 0 47px 0);
  }
  100% {
    clip-path: inset(7px 0 69px 0);
  }
}
@keyframes noise-2 {
  0% {
    clip-path: inset(60px 0 36px 0);
  }
  3.3333333333% {
    clip-path: inset(37px 0 53px 0);
  }
  6.6666666667% {
    clip-path: inset(42px 0 19px 0);
  }
  10% {
    clip-path: inset(77px 0 17px 0);
  }
  13.3333333333% {
    clip-path: inset(52px 0 16px 0);
  }
  16.6666666667% {
    clip-path: inset(8px 0 48px 0);
  }
  20% {
    clip-path: inset(25px 0 30px 0);
  }
  23.3333333333% {
    clip-path: inset(18px 0 1px 0);
  }
  26.6666666667% {
    clip-path: inset(82px 0 6px 0);
  }
  30% {
    clip-path: inset(78px 0 16px 0);
  }
  33.3333333333% {
    clip-path: inset(31px 0 32px 0);
  }
  36.6666666667% {
    clip-path: inset(20px 0 50px 0);
  }
  40% {
    clip-path: inset(32px 0 30px 0);
  }
  43.3333333333% {
    clip-path: inset(55px 0 4px 0);
  }
  46.6666666667% {
    clip-path: inset(82px 0 19px 0);
  }
  50% {
    clip-path: inset(5px 0 1px 0);
  }
  53.3333333333% {
    clip-path: inset(32px 0 34px 0);
  }
  56.6666666667% {
    clip-path: inset(22px 0 43px 0);
  }
  60% {
    clip-path: inset(93px 0 2px 0);
  }
  63.3333333333% {
    clip-path: inset(2px 0 45px 0);
  }
  66.6666666667% {
    clip-path: inset(7px 0 90px 0);
  }
  70% {
    clip-path: inset(46px 0 7px 0);
  }
  73.3333333333% {
    clip-path: inset(31px 0 44px 0);
  }
  76.6666666667% {
    clip-path: inset(55px 0 13px 0);
  }
  80% {
    clip-path: inset(23px 0 16px 0);
  }
  83.3333333333% {
    clip-path: inset(21px 0 24px 0);
  }
  86.6666666667% {
    clip-path: inset(61px 0 34px 0);
  }
  90% {
    clip-path: inset(12px 0 40px 0);
  }
  93.3333333333% {
    clip-path: inset(97px 0 3px 0);
  }
  96.6666666667% {
    clip-path: inset(30px 0 68px 0);
  }
  100% {
    clip-path: inset(44px 0 50px 0);
  }
}

.glow {
  text-shadow: 0 0 1000px rgb(223, 191, 191);
  color: transparent;
  position: absolute;
  top: 0;
}